In [1]:
import pandas as pd
z = pd.read_csv('/Users/Ben/Desktop/Predicting Red Hat Business Value/datatest.csv')
act_test = pd.read_csv('/Users/Ben/Desktop/Predicting Red Hat Business Value/act_test.csv')
people = pd.read_csv('/Users/Ben/Desktop/Predicting Red Hat Business Value/people.csv')
testData = act_test.merge(people,on = 'people_id')
people = []
act_test = []
testData = testData[['group_1','date_x','activity_id']]

In [ ]:
merged = testData.merge(z,how='left',left_on = ['group_1','date_x'],right_on = ['group_1','date'])

Okay so for some reason python cant figure out how to handle a dataframe of this size so i'll just split this into maybe 5 or so pandas dataframes and have them independently merge. Also let me make sure I have my merge statement down since this will be some serious data useage.

In [12]:
merged = testData[0:5].merge(z,how='left',left_on = ['group_1','date_x'],right_on = ['group_1','date'])
merged

       group_1      date_x   activity_id  Unnamed: 0        date  outcome
0  group 22593  2022-07-20   act1_249281     5126853  2022-07-20      0.0
1  group 22593  2022-07-20   act2_230855     5126853  2022-07-20      0.0
2  group 25417  2022-10-14   act1_240724     6099814  2022-10-14      1.0
3  group 25417  2022-11-27    act1_83552     6099886  2022-11-27      1.0
4  group 25417  2022-10-15  act2_1043301     6099815  2022-10-15      1.0

I realized the issue was actually with the duplicates I unintentionally introduced into the matrix of dates etc.

In [13]:
merged = testData.merge(z,how='left',left_on = ['group_1','date_x'],right_on = ['group_1','date'])
#merged.to_csv('merged.csv',sep=',')

In [10]:
merged[:10]

       group_1      date_x   activity_id  Unnamed: 0        date  outcome
0  group 22593  2022-07-20   act1_249281   5126853.0  2022-07-20      0.0
1  group 22593  2022-07-20   act2_230855   5126853.0  2022-07-20      0.0
2  group 25417  2022-10-14   act1_240724   6099814.0  2022-10-14      1.0
3  group 25417  2022-11-27    act1_83552   6099886.0  2022-11-27      1.0
4  group 25417  2022-10-15  act2_1043301   6099815.0  2022-10-15      1.0
5  group 25417  2022-11-27   act2_112890   6099886.0  2022-11-27      1.0
6  group 25417  2022-10-15  act2_1169930   6099815.0  2022-10-15      1.0
7  group 25417  2022-10-15  act2_1924448   6099815.0  2022-10-15      1.0
8  group 25417  2022-10-15  act2_1953554   6099815.0  2022-10-15      1.0
9  group 25417  2022-11-28  act2_1971739   6099887.0  2022-11-28      1.0

Okay woop! It works now, no crazy memory crashes or anything! The next step is to pull the test values out that dont match and turn that into a separate csv. From there I create my actual prediction file and merge it with this one to create the submission file.

In [14]:
act_test = pd.read_csv('/Users/Ben/Desktop/Predicting Red Hat Business Value/act_test.csv')

In [15]:
filledData = act_test.merge(merged,on='activity_id')
filledData[:5]

,people_id,activity_id,date_x,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,group_1,date_x,Unnamed: 0,date_y,outcome
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN,group 22593,2022-07-20,5126853.0,2022-07-20,0.0
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682,group 22593,2022-07-20,5126853.0,2022-07-20,0.0
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN,group 25417,2022-10-14,6099814.0,2022-10-14,1.0
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN,group 25417,2022-11-27,6099886.0,2022-11-27,1.0
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015,group 25417,2022-10-15,6099815.0,2022-10-15,1.0

AAAAAAnd the competition is closed to new entrants....whoops I should have read the end date more carefully.